<html>
<head>
<title>CadastrarFragment.java</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(204,120,50); }
.s1 { color: rgb(169,183,198); }
.s2 { color: rgb(128,128,128); }
.s3 { color: rgb(106,135,89); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
CadastrarFragment.java</FONT>
</center></TD></TR></TABLE>
<pre>
<a name="l1"><span class="ln">1    </span></a><span class="s0">package </span><span class="s1">br.com.wgbn.provaav2.Fragments</span><span class="s0">;</span><span class="s1"> 
<a name="l2"><span class="ln">2    </span></a> 
<a name="l3"><span class="ln">3    </span></a> 
<a name="l4"><span class="ln">4    </span></a></span><span class="s0">import </span><span class="s1">android.content.Intent</span><span class="s0">;</span><span class="s1"> 
<a name="l5"><span class="ln">5    </span></a></span><span class="s0">import </span><span class="s1">android.net.Uri</span><span class="s0">;</span><span class="s1"> 
<a name="l6"><span class="ln">6    </span></a></span><span class="s0">import </span><span class="s1">android.os.Bundle</span><span class="s0">;</span><span class="s1"> 
<a name="l7"><span class="ln">7    </span></a></span><span class="s0">import </span><span class="s1">android.support.v4.app.Fragment</span><span class="s0">;</span><span class="s1"> 
<a name="l8"><span class="ln">8    </span></a></span><span class="s0">import </span><span class="s1">android.support.v4.app.FragmentManager</span><span class="s0">;</span><span class="s1"> 
<a name="l9"><span class="ln">9    </span></a></span><span class="s0">import </span><span class="s1">android.view.LayoutInflater</span><span class="s0">;</span><span class="s1"> 
<a name="l10"><span class="ln">10   </span></a></span><span class="s0">import </span><span class="s1">android.view.View</span><span class="s0">;</span><span class="s1"> 
<a name="l11"><span class="ln">11   </span></a></span><span class="s0">import </span><span class="s1">android.view.ViewGroup</span><span class="s0">;</span><span class="s1"> 
<a name="l12"><span class="ln">12   </span></a></span><span class="s0">import </span><span class="s1">android.widget.Button</span><span class="s0">;</span><span class="s1"> 
<a name="l13"><span class="ln">13   </span></a></span><span class="s0">import </span><span class="s1">android.widget.EditText</span><span class="s0">;</span><span class="s1"> 
<a name="l14"><span class="ln">14   </span></a></span><span class="s0">import </span><span class="s1">android.widget.FrameLayout</span><span class="s0">;</span><span class="s1"> 
<a name="l15"><span class="ln">15   </span></a></span><span class="s0">import </span><span class="s1">android.widget.Toast</span><span class="s0">;</span><span class="s1"> 
<a name="l16"><span class="ln">16   </span></a> 
<a name="l17"><span class="ln">17   </span></a></span><span class="s0">import </span><span class="s1">br.com.wgbn.provaav2.Models.EdicaoModel</span><span class="s0">;</span><span class="s1"> 
<a name="l18"><span class="ln">18   </span></a></span><span class="s0">import </span><span class="s1">br.com.wgbn.provaav2.Pojo.EdicaoPojo</span><span class="s0">;</span><span class="s1"> 
<a name="l19"><span class="ln">19   </span></a></span><span class="s0">import </span><span class="s1">br.com.wgbn.provaav2.R</span><span class="s0">;</span><span class="s1"> 
<a name="l20"><span class="ln">20   </span></a></span><span class="s0">import </span><span class="s1">br.com.wgbn.provaav2.Services.EdicaoService</span><span class="s0">;</span><span class="s1"> 
<a name="l21"><span class="ln">21   </span></a> 
<a name="l22"><span class="ln">22   </span></a></span><span class="s0">public class </span><span class="s1">CadastrarFragment </span><span class="s0">extends </span><span class="s1">Fragment { 
<a name="l23"><span class="ln">23   </span></a> 
<a name="l24"><span class="ln">24   </span></a>    </span><span class="s0">private </span><span class="s1">Button btnCadSalvar</span><span class="s0">;</span><span class="s1"> 
<a name="l25"><span class="ln">25   </span></a>    </span><span class="s0">private </span><span class="s1">Button btnCadCancelar</span><span class="s0">;</span><span class="s1"> 
<a name="l26"><span class="ln">26   </span></a>    </span><span class="s0">private </span><span class="s1">Button btnCadBuscar</span><span class="s0">;</span><span class="s1"> 
<a name="l27"><span class="ln">27   </span></a>    </span><span class="s0">private </span><span class="s1">EditText txtTitulo</span><span class="s0">;</span><span class="s1"> 
<a name="l28"><span class="ln">28   </span></a>    </span><span class="s0">private </span><span class="s1">EditText txtSubTitulo</span><span class="s0">;</span><span class="s1"> 
<a name="l29"><span class="ln">29   </span></a>    </span><span class="s0">private </span><span class="s1">EditText txtEditora</span><span class="s0">;</span><span class="s1"> 
<a name="l30"><span class="ln">30   </span></a>    </span><span class="s0">private </span><span class="s1">EditText txtCapa</span><span class="s0">;</span><span class="s1"> 
<a name="l31"><span class="ln">31   </span></a>    </span><span class="s0">private </span><span class="s1">EditText txtAno</span><span class="s0">;</span><span class="s1"> 
<a name="l32"><span class="ln">32   </span></a>    </span><span class="s0">private </span><span class="s1">EditText txtNumero</span><span class="s0">;</span><span class="s1"> 
<a name="l33"><span class="ln">33   </span></a> 
<a name="l34"><span class="ln">34   </span></a>    </span><span class="s0">public </span><span class="s1">CadastrarFragment() { } 
<a name="l35"><span class="ln">35   </span></a> 
<a name="l36"><span class="ln">36   </span></a>    @Override 
<a name="l37"><span class="ln">37   </span></a>    </span><span class="s0">public void </span><span class="s1">onCreate(Bundle savedInstanceState) { 
<a name="l38"><span class="ln">38   </span></a>        </span><span class="s0">super</span><span class="s1">.onCreate(savedInstanceState)</span><span class="s0">;</span><span class="s1"> 
<a name="l39"><span class="ln">39   </span></a>        </span><span class="s2">//setRetainInstance(true); //Will ignore onDestroy Method (Nested Fragments no need this if parent have it)</span><span class="s1"> 
<a name="l40"><span class="ln">40   </span></a>    } 
<a name="l41"><span class="ln">41   </span></a> 
<a name="l42"><span class="ln">42   </span></a>    @Override 
<a name="l43"><span class="ln">43   </span></a>    </span><span class="s0">public </span><span class="s1">View onCreateView(LayoutInflater inflater</span><span class="s0">, final </span><span class="s1">ViewGroup container</span><span class="s0">, </span><span class="s1">Bundle savedInstanceState) { 
<a name="l44"><span class="ln">44   </span></a>        onViewStateRestored(savedInstanceState)</span><span class="s0">;</span><span class="s1"> 
<a name="l45"><span class="ln">45   </span></a>        View vi = inflater.inflate(R.layout.layout_fragment_cadastrar</span><span class="s0">, </span><span class="s1">container</span><span class="s0">, false</span><span class="s1">)</span><span class="s0">;</span><span class="s1"> 
<a name="l46"><span class="ln">46   </span></a> 
<a name="l47"><span class="ln">47   </span></a>        btnCadSalvar = (Button)vi.findViewById(R.id.btnCadSalvar)</span><span class="s0">;</span><span class="s1"> 
<a name="l48"><span class="ln">48   </span></a>        btnCadCancelar = (Button)vi.findViewById(R.id.btnCadCancelar)</span><span class="s0">;</span><span class="s1"> 
<a name="l49"><span class="ln">49   </span></a>        btnCadBuscar = (Button)vi.findViewById(R.id.btnCadBuscar)</span><span class="s0">;</span><span class="s1"> 
<a name="l50"><span class="ln">50   </span></a> 
<a name="l51"><span class="ln">51   </span></a>        txtTitulo = (EditText)vi.findViewById(R.id.txtTitulo)</span><span class="s0">;</span><span class="s1"> 
<a name="l52"><span class="ln">52   </span></a>        txtSubTitulo = (EditText)vi.findViewById(R.id.txtSubTitulo)</span><span class="s0">;</span><span class="s1"> 
<a name="l53"><span class="ln">53   </span></a>        txtEditora = (EditText)vi.findViewById(R.id.txtEditora)</span><span class="s0">;</span><span class="s1"> 
<a name="l54"><span class="ln">54   </span></a>        txtCapa = (EditText)vi.findViewById(R.id.txtCapa)</span><span class="s0">;</span><span class="s1"> 
<a name="l55"><span class="ln">55   </span></a>        txtAno = (EditText)vi.findViewById(R.id.txtAno)</span><span class="s0">;</span><span class="s1"> 
<a name="l56"><span class="ln">56   </span></a>        txtNumero = (EditText)vi.findViewById(R.id.txtNumero)</span><span class="s0">;</span><span class="s1"> 
<a name="l57"><span class="ln">57   </span></a> 
<a name="l58"><span class="ln">58   </span></a>        btnCadSalvar.setOnClickListener(</span><span class="s0">new </span><span class="s1">View.OnClickListener() { 
<a name="l59"><span class="ln">59   </span></a>            @Override 
<a name="l60"><span class="ln">60   </span></a>            </span><span class="s0">public void </span><span class="s1">onClick(View v) { 
<a name="l61"><span class="ln">61   </span></a>                </span><span class="s0">if </span><span class="s1">(validaCampos()){ 
<a name="l62"><span class="ln">62   </span></a>                    EdicaoModel e = </span><span class="s0">new </span><span class="s1">EdicaoModel()</span><span class="s0">;</span><span class="s1"> 
<a name="l63"><span class="ln">63   </span></a>                    e.setTitulo(txtTitulo.getText().toString())</span><span class="s0">;</span><span class="s1"> 
<a name="l64"><span class="ln">64   </span></a>                    e.setSubtitulo(txtSubTitulo.getText().toString())</span><span class="s0">;</span><span class="s1"> 
<a name="l65"><span class="ln">65   </span></a>                    e.setEditora(txtEditora.getText().toString())</span><span class="s0">;</span><span class="s1"> 
<a name="l66"><span class="ln">66   </span></a>                    e.setCapa(txtCapa.getText().toString())</span><span class="s0">;</span><span class="s1"> 
<a name="l67"><span class="ln">67   </span></a>                    e.setAno(</span><span class="s0">new </span><span class="s1">Integer(txtAno.getText().toString()).intValue())</span><span class="s0">;</span><span class="s1"> 
<a name="l68"><span class="ln">68   </span></a>                    e.setNumero(</span><span class="s0">new </span><span class="s1">Integer(txtNumero.getText().toString()).intValue())</span><span class="s0">;</span><span class="s1"> 
<a name="l69"><span class="ln">69   </span></a>                    EdicaoService.getInstance().add(e)</span><span class="s0">;</span><span class="s1"> 
<a name="l70"><span class="ln">70   </span></a>                    voltarListagem(v)</span><span class="s0">;</span><span class="s1"> 
<a name="l71"><span class="ln">71   </span></a>                } </span><span class="s0">else </span><span class="s1">{ 
<a name="l72"><span class="ln">72   </span></a>                    Toast.makeText(getContext()</span><span class="s0">, </span><span class="s3">&quot;Você deve preencher todos os campos!&quot;</span><span class="s0">, </span><span class="s1">Toast.LENGTH_LONG).show()</span><span class="s0">;</span><span class="s1"> 
<a name="l73"><span class="ln">73   </span></a>                } 
<a name="l74"><span class="ln">74   </span></a>            } 
<a name="l75"><span class="ln">75   </span></a>        })</span><span class="s0">;</span><span class="s1"> 
<a name="l76"><span class="ln">76   </span></a> 
<a name="l77"><span class="ln">77   </span></a>        btnCadCancelar.setOnClickListener(</span><span class="s0">new </span><span class="s1">View.OnClickListener() { 
<a name="l78"><span class="ln">78   </span></a>            @Override 
<a name="l79"><span class="ln">79   </span></a>            </span><span class="s0">public void </span><span class="s1">onClick(View v) { 
<a name="l80"><span class="ln">80   </span></a>                voltarListagem(v)</span><span class="s0">;</span><span class="s1"> 
<a name="l81"><span class="ln">81   </span></a>            } 
<a name="l82"><span class="ln">82   </span></a>        })</span><span class="s0">;</span><span class="s1"> 
<a name="l83"><span class="ln">83   </span></a> 
<a name="l84"><span class="ln">84   </span></a>        btnCadBuscar.setOnClickListener(</span><span class="s0">new </span><span class="s1">View.OnClickListener() { 
<a name="l85"><span class="ln">85   </span></a>            @Override 
<a name="l86"><span class="ln">86   </span></a>            </span><span class="s0">public void </span><span class="s1">onClick(View v) { 
<a name="l87"><span class="ln">87   </span></a>                </span><span class="s0">if </span><span class="s1">(!txtTitulo.getText().toString().isEmpty() &amp;&amp; !txtSubTitulo.getText().toString().isEmpty()){ 
<a name="l88"><span class="ln">88   </span></a>                    String url = </span><span class="s3">&quot;https://www.google.com.br/search?q=&quot;</span><span class="s1">+txtTitulo.getText().toString()+</span><span class="s3">&quot; &quot;</span><span class="s1">+txtSubTitulo.getText().toString()+</span><span class="s3">&quot; cover capa&amp;biw=300&amp;bih=785&amp;source=lnms&amp;tbm=isch&amp;sa=X&quot;</span><span class="s0">;</span><span class="s1"> 
<a name="l89"><span class="ln">89   </span></a>                    Intent i = </span><span class="s0">new </span><span class="s1">Intent(Intent.ACTION_VIEW)</span><span class="s0">;</span><span class="s1"> 
<a name="l90"><span class="ln">90   </span></a>                    i.setData(Uri.parse(url))</span><span class="s0">;</span><span class="s1"> 
<a name="l91"><span class="ln">91   </span></a>                    startActivity(i)</span><span class="s0">;</span><span class="s1"> 
<a name="l92"><span class="ln">92   </span></a>                } 
<a name="l93"><span class="ln">93   </span></a>            } 
<a name="l94"><span class="ln">94   </span></a>        })</span><span class="s0">;</span><span class="s1"> 
<a name="l95"><span class="ln">95   </span></a> 
<a name="l96"><span class="ln">96   </span></a>        </span><span class="s0">return </span><span class="s1">vi</span><span class="s0">;</span><span class="s1"> 
<a name="l97"><span class="ln">97   </span></a>    } 
<a name="l98"><span class="ln">98   </span></a> 
<a name="l99"><span class="ln">99   </span></a>    </span><span class="s0">private void </span><span class="s1">voltarListagem(View v){ 
<a name="l100"><span class="ln">100  </span></a>        FragmentManager fragmentManager = getFragmentManager()</span><span class="s0">;</span><span class="s1"> 
<a name="l101"><span class="ln">101  </span></a> 
<a name="l102"><span class="ln">102  </span></a>        Fragment listar = ListarFragment.getInstance()</span><span class="s0">;</span><span class="s1"> 
<a name="l103"><span class="ln">103  </span></a>        fragmentManager.beginTransaction().replace(R.id.contents</span><span class="s0">, </span><span class="s1">listar).commit()</span><span class="s0">;</span><span class="s1"> 
<a name="l104"><span class="ln">104  </span></a>    } 
<a name="l105"><span class="ln">105  </span></a> 
<a name="l106"><span class="ln">106  </span></a>    </span><span class="s0">private boolean </span><span class="s1">validaCampos(){ 
<a name="l107"><span class="ln">107  </span></a>        </span><span class="s0">return </span><span class="s1">!( 
<a name="l108"><span class="ln">108  </span></a>            txtTitulo.getText().toString().isEmpty() || 
<a name="l109"><span class="ln">109  </span></a>            txtAno.getText().toString().isEmpty() || 
<a name="l110"><span class="ln">110  </span></a>            txtNumero.getText().toString().isEmpty() || 
<a name="l111"><span class="ln">111  </span></a>            txtCapa.getText().toString().isEmpty() || 
<a name="l112"><span class="ln">112  </span></a>            txtEditora.getText().toString().isEmpty() || 
<a name="l113"><span class="ln">113  </span></a>            txtSubTitulo.getText().toString().isEmpty() 
<a name="l114"><span class="ln">114  </span></a>        )</span><span class="s0">;</span><span class="s1"> 
<a name="l115"><span class="ln">115  </span></a>    } 
<a name="l116"><span class="ln">116  </span></a> 
<a name="l117"><span class="ln">117  </span></a>    @Override 
<a name="l118"><span class="ln">118  </span></a>    </span><span class="s0">public void </span><span class="s1">onSaveInstanceState(</span><span class="s0">final </span><span class="s1">Bundle outState) { 
<a name="l119"><span class="ln">119  </span></a>        </span><span class="s0">super</span><span class="s1">.onSaveInstanceState(outState)</span><span class="s0">;</span><span class="s1"> 
<a name="l120"><span class="ln">120  </span></a>    } 
<a name="l121"><span class="ln">121  </span></a> 
<a name="l122"><span class="ln">122  </span></a>} 
<a name="l123"><span class="ln">123  </span></a></span></pre>
</body>
</html>